.header {
  background-color: #000000;
  position: sticky;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1680px;
  width: 100%;
  height: 100%;
 padding: 0 120px;
}

.logo {
  font-style: normal;
  font-weight: bold;
  color: #ffffff;
  font-size: 16px;
}

.logo span {
  color: #33d8ff;
}

.nav {
  max-width: 436px;
}

.menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.menuItem {
  color: #fdfdfd;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  transition: background 0.3s ease-in-out;
  display: flex;
  align-items: center;
  gap: 4px;
  min-height: 48px;
  padding: 0 8px;
}

.menuItem span {
  display: flex;
  align-items: center;
  margin-top: 2px;
}

.menuItem:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.menuItemLive {
  color: #fb2040;
  font-size: 14px;
}

.menuItemSearch {
  background-color: #0089cc;
  color: #fdfdfd;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 8px;
}

/* .dropdown {
  background-color: #f3f2ea;
  position: sticky;
  z-index: 1000;
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: end;
  padding-right: 120px;
  font-size: 12px;
} */

/* .dropdown li {
  padding: 10px 15px;
  color: #494f60;
  cursor: pointer;
  transition: background 0.3s;
}

.dropdown li:hover {
  color: #0089cc;
} */

.menuItemButton {
  display: none;
  color: #fdfdfd;
  width: 48px;
  height: 48px;
  justify-content: center;
  align-items: center;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: #fdfdfd;
  backdrop-filter: blur(5px);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modalContent {
  background: #090a0a;
  padding: 40px 0;
  width: 100%;
  height: 100%;
  position: relative;
}

.modalMenu {
  list-style: none;
  margin-top: 10px;
  padding: 0 120px;
}

.modalMenu span {
  position: relative;
  top: 2px;
}

.modalMenuItem {
  font-size: 12px;
  color: white;
  padding: 15px 0;
  cursor: pointer;
  transition: 0.3s;
  border-top: 1px solid #393838;
}

.modalMenuItem span {
  padding-top: 2px;
}

.modalMenuItem:hover {
  background: rgba(255, 255, 255, 0.2);
}

@media (max-width: 800px) {
  .menuItem {
    display: none;
  }
  .menuItemButton {
    display: flex;
  }
  .modalOverlay{
    display: flex;
  }
}

@media (max-width: 1200px) {
  .container {
      padding: 0 80px;
   
  }
  
}

@media (max-width: 980px) {
  .container {
      padding: 0 50px;
   
  }
  
}  @media (max-width: 500px) {
  .container {
      padding: 0 30px;
   
  }
  
}

