.container {
  width: 100%;
  font-family: Arial, sans-serif;
  padding-top: 24px;
  padding-bottom: 48px;
}

.heading {
  font-size: 16px;
  font-weight: bold;
  color: #22262A;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.newsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 24px;

}

.newsItem {
  display: flex;
  align-items: flex-start;
  flex: 1;
  position: relative;
  border-right: solid #e1e6eb 1px;
  padding-left: 24px;
  min-height: 132px; 
}
.newsItem:last-child {
  border-right: none;
}
.newsItem:first-child {
  padding-left: 0; 
}


.number {
  font-size: 48px;
  font-weight: bold;
  color: #BFC3C9;
  margin-right: 16px;
  margin-top: 14px;
}

.content {
  flex: 1;
 
}

.category {
  font-size: 12px;
  font-weight: bold;
  color: #0089CC;
  text-transform: uppercase;
}

.title {

  font-size: 18px;
   color: #22262A;
   font-family: "Noto Serif", serif;
   cursor: pointer;
}
.title:hover {
  opacity: 0.6;
}


@media (max-width: 980px) {
  .newsList {
    display: grid;
    grid-template-columns: 1fr 1fr; 
   
  }

  .newsItem:nth-child(2n) {

    border-right: none;
  }

  
  .newsItem:nth-child(3n) {
    padding-left: 0;
  }
}

@media (max-width: 600px) {
  .newsList {
      grid-template-columns: 1fr; 
   
  }

  .newsItem {

    border-right: none;
    
  }

  
  .newsItem {
    padding-left: 0;
  }
}
