.container {
  max-width: 1592px;
  width: 100%;
  margin: 0 auto;
  padding: 0 120px;
}

.titleContent {
  width: 66%;
  margin-right: 5vw;
  padding-right: 24px;
}
.titleContent h1 {
  font-size: 42px;
  color: #000000;
  font-weight: bold;
  font-family: "Noto Serif", serif;
}

.headTitle {
  font-size: 12px;
  font-weight: bold;
  color: #a0a5aa;
  margin-top: 20px;
  margin-bottom: 20px;
}
.titleContent span {
  color: #0089cc;
}

.description {
  color: #63676c;
  font-size: 24px;
  font-family: "Noto Serif", serif;
}

.bodyContainer {
  display: flex;
  margin-top: 20px;
  padding-bottom: 28px;
}

.content {
  width: 66%;
  padding-right: 24px;
}

.content h1 {
  font-size: 28px;
  font-weight: bold;
  color: #000;
}

.content img {
  width: 100%;
  height: auto;
  max-width: 1008px;
}

.articleContainer {
  padding: 28px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.article {
  color: #000000;
  max-width: 664px;
}
.article h1,
.article h2 {
  font-size: 28px;
  font-family: "Noto Serif", serif;
  color: #000000;
  line-height: 40px;
  padding-bottom: 28px;
  font-weight: bold;
}
.article p {
  font-size: 18px;
  color: #000000;
  line-height: 28px;
  padding-bottom: 28px;
  font-family: "Noto Serif", serif;
}
.article iframe {
  padding-bottom: 28px;
  width: 100%;

  max-width: 560px;
  max-height: 315px;
}
.related {
  max-width: 296px;
  padding-left: 24px;
  border-left: solid #e1e6eb 1px;
}

.related h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.related ul {
  list-style: none;
  padding: 0;
}

.related li {
  background: white;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.related li a {
  text-decoration: none;
  color: #0073e6;
  font-weight: bold;
}

.related li img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 5px;
}

.descriptionTitle {
  font-size: 16px;
  color: #a0a5aa;
}

.description {
  font-size: 14px;
  font-family: "Noto Serif", serif;
  color: #63676c;
  margin-top: 5px;
}

.tagContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  padding-bottom: 24px;
  border-bottom: solid #e1e6eb 1px;
}

.tag {
  background-color: #edf2f7;
  color: #777c80;
  padding: 6px 10px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.newsItem {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  border-bottom: solid #e1e6eb 1px;
  padding: 24px 0;
}

.newsItem:last-child {
  border-bottom: none;
}

.image {
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.title {
  font-size: 16px;
  font-weight: bold;
  color: #000000;
  font-family: "Noto Serif", serif;
}

.card {
  display: flex;
  padding: 24px 0;
  max-width: 600px;
}

.cardBackground {
  width: 64px;
  height: 64px;
  background-color: #00baff;
  margin-top: 28px;
}

.cardBackgroundContinue{
  width: 288px;
  height: 144px;
  background-color: #00baff;

 
}

.imageContainer {
  position: relative;
  width: 212px;
  height: 120px;
  flex-shrink: 0;
  
}

.imageContainerContinue{
  position: relative;
  width: 212px;
  height: 120px;
  flex-shrink: 0;
  margin-top: 12px;
  left: -72px;
}

.cardContent {
  display: flex;
  flex-direction: column;
  padding-left: 24px;
}
.cardContentContinue{
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 24px;
  padding-top: 12px;
  left: -72px;
}
.cardContent :hover {
  opacity: 0.6;
}

.readMore {
  font-size: 12px;
  cursor: pointer;
  color: #161819;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.continueReading {
  border-top: solid #e1e6eb 1px;
  font-size: 16px;
  cursor: pointer;
  color: #22262A;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 24px;

}


.cardTitle {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
  font-family: "Noto Serif", serif;
}

.cardTitle:hover {
  opacity: 0.6;
}

.title:hover {

  opacity: 0.6;
}

@media (max-width: 1200px) {
  .container {
    padding: 0 80px;
  }
}

@media (max-width: 980px) {
  .container {
    padding: 0 50px;
  }
  .related {
    display: none;
  }
  .content {
    width: 100%;
    padding-right: 0;
  }
  .titleContent {
    width: 100%;
    margin-right: 0;
   
  }
  .article {
    color: #000000;
    max-width: 1000px;
  }
}
@media (max-width: 500px) {
  .container {
    padding: 0 30px;
  }
  .imageContainerContinue{
   
    left: 0;
  }
  
  .cardContent {
    display: flex;
    flex-direction: column;
    padding-left: 24px;
  }
  .cardContentContinue{
  
    left: -0;

}
.cardBackground{
  display: none;
}

.card {
  flex-direction: column;
  gap:24px;
  
}

.cardContent{
  padding-left: 0;
}

.cardBackgroundContinue{
  display: none;
}

.cardContentContinue{
  padding-left: 0;
  margin-left: 0;
}

}
