.advertisement {
    flex: 1;
    padding-left: 24px;
    height: auto;
}

.advertisement img {
    width: 100%;
    max-width: 382px;
    padding-top: 12px;
    height: auto;
    max-height: 382px;
    object-fit: cover;
}

.advertisement h3 {
    font-weight: bold;
    font-size: 16px;
    color: #22262A;
}
