.advertisement {
    flex: 1;
    padding-left: 24px;
    height: auto;

}

.advertisement img {
    width: 100%;
    max-width: 382px;
    padding-top: 12px;
    height: auto;
    max-height: 382px;
    object-fit: cover;
}

.advertisement h3 {
    font-weight: bold;
    font-size: 16px;
    color: #22262A;
}
@media (max-width: 980px) {
    .advertisement {
      padding-bottom: 24px;
      border-bottom: solid #e1e6eb 1px;
      margin-bottom: 24px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
}